/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }

  .card{
    height: 150px;
    width: 500px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 0;
  }

  .title{
    color: #E53170;
    text-align: center;
  }

  .sub-title{
    text-align: center;
  }

  .main-div{
    font-family: "Fredoka", sans-serif;
  }